<!-- template driven form -->
<section class="my-5 container">
    <h2 class="text-center text-primary">Register</h2>
    <!-- <div>
        {{registerForm.value|json}}- {{registerForm.valid}}-{{registerForm.submitted}}
    </div> -->
    <div 
    [ngClass]="{'alert':true, 'alert-primary':apiFlag, 'alert-danger':!apiFlag}" *ngIf="msg!=''"
    >{{msg}}</div>
    <form #registerForm = "ngForm" (ngSubmit)="handleRegister(registerForm)">
        <div class="mb-3">
            <label>Name</label>
            <!-- <div>valid=>{{name.valid}}-invalid=>{{name.invalid}}-dirty=>{{name.dirty}}-touched=>{{name.touched}}</div> -->
            <input name="name" placeholder="name" class="form-control" 
            required minlength="3" maxlength="10" #name="ngModel" ngModel>
            <div 
            *ngIf="name.invalid&&(name.dirty||name.touched||registerForm.submitted)" class="alert alert-danger my-3">
                <p *ngIf="name.errors?.['required']">name is required</p>
                <p *ngIf="name.errors?.['minlength']">name must be more than 3 chars</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input name="email" placeholder="Email" class="form-control" 
            #email="ngModel" required email ngModel>
            <div *ngIf="email.invalid&&(email.dirty||email.touched||registerForm.submitted)" class="alert alert-danger my-3">
                <p *ngIf="email.errors?.['required']">email is required</p>
                <p *ngIf="email.errors?.['email']">invalid email address</p>
            </div>
        </div>
        <div class="mb-3">
            <label>birthdate</label>
            <input name="birthDate" placeholder="birthDate" type="date" class="form-control" #birthDate="ngModel" required ngModel>
            <div *ngIf="birthDate.invalid&&(birthDate.dirty||birthDate.touched||registerForm.submitted)" class="alert alert-danger my-3">
                <p *ngIf="birthDate.errors?.['required']">birth date is required</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input name="Password" placeholder="password" type="password" class="form-control" #password="ngModel" required minlength="3" ngModel>
            <div *ngIf="password.invalid&&(password.dirty||password.touched||registerForm.submitted)" class="alert alert-danger my-3">
                <p *ngIf="password.errors?.['required']">password is required</p>
                <p *ngIf="password.errors?.['minlength']">password must be more than 3 chars</p>
            </div>

        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</section>