<div class="products">
  <div *ngFor="let product of products" class="card product">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img
        src="http://localhost:3000/image/{{product.image}}"
        class="img-fluid img"
      />
      <a href="#!">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">
        {{product.description}}
      </p>
      <button class="btn btn-primary" (click)="inc(product.index)">+</button>
       <label for="">{{count[product.index]}}</label>
      <button class="btn btn-primary" (click)="dec(product.index)">-</button>
      <label for=""> total Price of this product is {{price[product.index]}} </label>
      <br>
      <a href="#!" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</div>
