<div class="accordion" id="accordionExample">
    <div *ngFor="let product of Products" class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{product.title}}
            <a [routerLink]="" (click)="GoToEdit(product._id)"> Edit Product </a>
            <a [routerLink]="" (click)="Delete(product._id)"> Delete Product </a>

        </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="http://localhost:3000/image/{{product.image}}"
                  class="img-fluid img"
                />
                <a href="#!">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15)"
                  ></div>
                </a>
            </div>
            {{product.description}}<br>
            {{product.price}}
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="AddProduct()" >Add new Product</button>

  </div>